.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /*justify-content: center;*/
    max-height: 500px;
    overflow-y: scroll;
}

.call-card {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 10px;
    margin-bottom: 20px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0,0,0,.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-body:hover {
    cursor: pointer;
    background-color: lightgray;
}

.card {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    width: 100%;
    display: flex;
}

.card-body {
    display:flex;
    flex: 80%;
    justify-content: space-between;
    padding: 10px;
}

.archive-btn {
    flex: 20%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.82);
    color: white;
}

.archive-btn:hover {
    cursor: pointer;
    background-color: black;
}